$tail-right-map: (
        mini:var(--vxe-tag-tail-mini-right),
        small:var(--vxe-tag-tail-small-right),
        medium:var(--vxe-tag-tail-medium-right),
        large:var(--vxe-tag-tail-large-right)
);
$tail-type-map: (
        mark:polygon(0 0, 0% 100%, 35% 50%),
        flag:polygon(50% 0, 0 50%, 50% 100%, 0 100%, 0 50%, 0 0),
);

@mixin TagToRight {
  border-radius: 4px 0 0 4px;
  background-color: var(--tag-color);
  color: #fff;
  position: relative;
  padding-left: 1.2em;
  margin-right: 1.25em;
  
  &:before {
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 0.45em;
    left: 0.5em;
    position: absolute;
    width: 0.45em;
    top: calc(50% - 0.225em);
  }
}

@mixin TagTailBase($size,$type) {
  background: var(--tag-color);
  content: '';
  position: absolute;
  width: var(--tag-tail-size);
  height: 100%;
  right: map-get($tail-right-map, $size);
  top: 0;
  clip-path: map-get($tail-type-map, $type);
  box-shadow: inset 0 2px 3px var(--tag-color), inset 0 -2px 3px var(--tag-color);
}

.vxe-tag {
  padding: var(--vxe-tag-padding);
  position: relative;
  width: auto;
  display: inline-block;
  
  &.vxe-tag-type--default {
    color: #fff;
    background-color: var(--tag-color);
    border-radius: var(--vxe-tag-border-radius);
  }
  
  &.vxe-tag-type--outline {
    color: var(--tag-color);
    background-color: transparent;
    border: 1px solid var(--tag-color);
    border-radius: var(--vxe-tag-border-radius);
  }
  
  &.vxe-tag-type--dashed {
    color: var(--tag-color);
    background-color: transparent;
    border: 1px dashed var(--tag-color);
    border-radius: var(--vxe-tag-border-radius);
  }
  
  &.vxe-tag-type--mark {
    @include TagToRight;
   
    &.size--mini:after {
      @include TagTailBase(mini, mark)
    }
    
    &.size--small:after {
      @include TagTailBase(small, mark)
    }
    
    &.size--medium:after {
      @include TagTailBase(medium, mark)
    }
    
    &.size--large:after {
      @include TagTailBase(large, mark)
    }
    
  }
  
  &.vxe-tag-type--flag {
    @include TagToRight;
    
    &.size--mini:after {
      @include TagTailBase(mini, flag);
    }
    
    &.size--small:after {
      @include TagTailBase(small, flag);
    }
    
    &.size--medium:after {
      @include TagTailBase(medium, flag);
    }
    
    &.size--large:after {
      @include TagTailBase(large, flag);
    }
    
  }
  
  &.size--mini {
    font-size: var(--vxe-font-size-mini);
    line-height: var(--vxe-tag-line-height--mini);
    --tag-tail-size: var(--vxe-tag-tail-size--mini)
  }
  
  &.size--small {
    font-size: var(--vxe-font-size-small);
    line-height: var(--vxe-tag-line-height--small);
    --tag-tail-size: var(--vxe-tag-tail-size--small)
  }
  
  &.size--medium {
    font-size: var(--vxe-font-size-medium);
    line-height: var(--vxe-tag-line-height--medium);
    --tag-tail-size: var(--vxe-tag-tail-size--medium)
  }
  
  &.size--large {
    font-size: var(--vxe-font-size-medium);
    line-height: var(--vxe-tag-line-height--large);
    --tag-tail-size: var(--vxe-tag-tail-size--large)
  }
}

.vxe-tag-color--default, .vxe-tag-color--info {
  --tag-color: var(--vxe-info-color)
}

.vxe-tag-color--primary {
  --tag-color: var(--vxe-primary-color)
}

.vxe-tag-color--success {
  --tag-color: var(--vxe-success-color)
}

.vxe-tag-color--warning {
  --tag-color: var(--vxe-warning-color)
}

.vxe-tag-color--danger, .vxe-tag-color--error {
  --tag-color: var(--vxe-danger-color)
}

.vxe-tag-color--perfect {
  --tag-color: var(--vxe-perfect-color)
}

.vxe-tag + .vxe-tag {
  margin-left: 0.4em;
}

.vxe-tag-align--top {
  vertical-align: top;
}

.vxe-tag-align--middle {
  vertical-align: middle;
}

.vxe-tag-align--bottom {
  vertical-align: bottom;
}
